@model List<Author>
@{
    ViewData["Title"] = "Author Index";
}

<h1>Author</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var author in Model)
        {
                <tr>
                    
                    <td>@author.Nom</td>
                    <td>
                        <a asp-action="Details" asp-route-id="@author.Id">Details</a> |
                        <a asp-action="Edit" asp-route-id="@author.Id">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@author.Id">Delete</a>
                    </td>
                </tr>
        }
    </tbody>
</table>
